<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed - All in One</title>
    <link rel="stylesheet" href="news.css">
</head>
<body>
    <nav>
        <div class="Logo">
          <ul>
            <img src="Logo.jpg" alt="LOGO" /> 
          </ul>
        </div>  
            <div class="menu">
                <ul>
                    <li> <a href="news.html"> Home</a></li>
                    <li> <a href="#"> About</a></li>
                    <div class="user">
                        <img src="Profile Logo.png" alt="user" />
                        <div class="user-info">
                        </div>
                    </div>      
                </ul>
            </div>
    </nav>
    <hr width="900%" style="border: 3px solid #f20f0f; margin-top: 10px;margin-bottom: 20px;">
    <div class="container">
        <div class="card">
          <div class="card-header">
            <img src="https://images.hindustantimes.com/img/2022/11/14/550x309/Smog-6_1668436436593_1668436436593_1668436491578_1668436491578.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <a href = "https://www.hindustantimes.com/india-news"><span class="tag tag-purple">Weather</span></a>
            <h4>
               <a href="https://www.hindustantimes.com/india-news/these-are-india-s-most-polluted-cities-7-of-10-are-from-bihar-101668426703839.html" target=_blank> These are India's most polluted cities. 7 of 10 are from Bihar</a>
            </h4>
            <p>
                FGhaziabad fared better in the first half of November this year as the average air quality index (AQI) levels have remained on the lower side compared to the last six years with the least number of “severe” days during the first thirteen days of the current month.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://c.ndtvimg.com/2022-09/3ln6tu7o_mamata-banerjee-pti_625x300_08_September_22.jpg" alt="ballons" />
          </div>
          <div class="card-body">
            <a href = "https://www.ndtv.com/india"><span class="tag tag-teal">Politics</span></a>
            <h4>
                <a href="https://www.ndtv.com/india-news/mamata-banerjee-apologises-for-trinamools-minister-comments-on-president-droupadi-murmu-beauty-is-not-about-how-you-look-3518867" target=_blank>Mamata Banerjee Apologises For Trinamool Minister's Comments On President</a>
            </h4>
            <p>
                West Bengal BJP MLAs marched to the Raj Bhavan this afternoon in protest against the distasteful comments by Trinamool minister Akhil Giri on the President of India.

            </p>
          </div>
        </div>
	  
        
        <div class="card">
          <div class="card-header">
            <img src="https://images.hindustantimes.com/img/2022/11/14/550x309/modi_in_bali_1668437713918_1668437719839_1668437719839.jfif" />
          </div>
          <div class="card-body">
            <a href = "https://www.hindustantimes.com/india-news"><span class="tag tag-purple">India News</a>
            <h4>
                <a href="https://www.hindustantimes.com/india-news/pm-modi-in-bali-for-g20-summit-bilateral-meetings-with-top-world-leaders-101668436708550.html" target=_blank>In Bali, PM Modi meets Indians, to attend G20 Summit with top world leaders</a>
            </h4>
            <p>
                The two-day G20 Summit begins on Tuesday, and will be attended by US President Joe Biden and British Prime Minister Rishi Sunak among heads from 20 countries and the European Union who make up the group.
            </p>
           
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="https://th-i.thgim.com/public/incoming/yygqz6/article66110849.ece/alternates/FREE_1200/PTI10_18_2022_000072B.jpg" alt="city" />
          </div>
          <div class="card-body">
            <a href = "Categories\inside-tn.html"><span class="tag tag-aas">Inside - TN</span></a>
            <h4>
              AIADMK Created By Cadres, No One Can Divide It: O Pannerselvam
            </h4>
            <p>
              Expelled All India Anna Dravida Munnetra Kazhagam (AIADMK) leader and former chief minister of Tamil Nadu O Pannerselvam today said that AIADMK is an organization which was created by cadres and it should function with unity.</p>
           
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="https://images.hindustantimes.com/img/2022/10/11/550x309/Delhi-Weather-Rain--4_1665414049445_1665414049445_1665455613808_1665455613808.jpg" alt="city" />
          </div>
          <div class="card-body">
            <a href = "Categories\weather360.html"><span class="tag tag-cyan">Weather 360°</span></a>
            <h4>
             Isolated Rains Over Rajasthan, Andhra, Karnataka; Tamil Nadu, Kerala In For Thunderstorms
            </h4>
            <p>
              Widespread rains and thunderstorms with isolated heavy falls are likely over Andaman and Nicobar Islands.Fairly widespread rainfall with thunderstorms may lash Tamil Nadu, Puducherry and Karaikal.Dense fog is possible over Central India early in the morning.            </p>
           
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://www.indiaspend.com/wp-content/uploads/620-Fire.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <a href = "Categories\trending today.html"><span class="tag tag-purple1">Trending Today</span></a>
            <h4><a href="https://www.ndtv.com/indians-abroad/9-indians-killed-in-maldives-fire-report-3506799#trendingnow" target=_blank>9 Indians Killed In Maldives Fire: Report</a></h4>
            <p>
                Officials said 10 bodies were recovered from the upper floor of a building destroyed in the fire, which swept through the cramped lodgings of foreign workers.At least 10 people were killed and several others injured Thursday when a fire swept through cramped lodgings of foreign workers in the Maldives capital Male, the fire service said.
            </p>
          </div>
        </div>
</body>
</html>